.header {
  text-transform: uppercase;
  background-color: black;
  color: #f2f2f2;
  padding: 20px 0px 20px 0px;
}

body {
  text-align: center;
  background-color: darkgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
  display: flex;
}

.topnav {
  background-color: firebrick;
  overflow: auto;
  border: solid black 3px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: darkgrey;
  color: black;
}

.sidebar {
  height: 80%;
  width: 200px;
  position: fixed;
  top: 97;
  left: 5;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: firebrick;
  border: solid black 3px;
  border-top: 0px;
  }
  
  .sidebar div {
  color: #f2f2f2;
  padding: 8px;
  font-size: 24px;
  display: block;
  border: 1px solid black;
  margin: 5px;
  }

  .article {
    position: fixed;
    left: 20;
    margin-left: 215px;
    margin-top: -10px;
  }

  .voodoo {
    max-width: 300px;
    display: block;
    position: fixed;
  }

  .wd-text {
    display: block;
    position: fixed;
    margin-left: 305px;
    margin-top: -5px;
    margin-right: 5px;
    text-align: left;
  }

  .welcome {
    left: 20;
    margin-left: 215px;
    margin-top: -10px;
    text-align: center;
  }